<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jenish.khanpara.country.data">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="jenish.khanpara.country.data.activities.MainActivity"/>
        <activity android:name="jenish.khanpara.country.data.activities.RestCountryActivity"/>
        <activity android:name="jenish.khanpara.country.data.activities.FireBaseCountryActivity">
        </activity>
        <activity android:name="jenish.khanpara.country.data.activities.CountryDataListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>